button{
    border-color: green;
    border-style: dotted;
    cursor: pointer;
    color: orangered;
    width: 85px;
    font-size: 20px;
    border-radius: 15px;
}
button:hover{
    background-color: green;
}
body{
    background-color: greenyellow;
}
h1{
    color: red;
    text-decoration: underline;
}
